* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: white;

    ;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, Sans-serif;
}

nav {
    background-color: darkblue;
    padding: 10px
}

nav a {
    color: var(--primary-text-color) display: block;
    padding: 20px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 80px;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

main {
    max-width: 840px;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}